*{
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
  }
  
  .varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /*HEADER*/
  
  header{
    background-color: rgb(204,241,255);
    width: 100%;
    height: 100px;
  }
  
  nav{
    float: right;
    padding: 5px;
  }
  li{
    float: left;
    padding: 20px;
    text-decoration: none;
    list-style-type: none;
  }
  
  .dicas, .personalizar, .conta{
    width: 50px;
    height: 50px;
    background-color: rgb(62,154,244);
    border-radius: 50px;
    list-style-type: none;
    float: left;
    border: none;
  }
  
  header img{
    width: 30px;
  }
  
  
  /*MAIN*/
  main{
      background-image: url(../img/fundo.png);
      width: 100%;
      height: 1300px;
  }