*{
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*HEADER*/

header{
  background-color: rgb(204,241,255);
  width: 100%;
  height: 100px;
}

nav{
  float: right;
  padding: 5px;
}
li{
  float: left;
  padding: 20px;
  text-decoration: none;
  list-style-type: none;
}

.dicas, .personalizar, .conta{
  width: 50px;
  height: 50px;
  background-color: rgb(62,154,244);
  border-radius: 50px;
  list-style-type: none;
  float: left;
  border: none;
}

header img{
  width: 30px;
}


/*MAIN*/
main{
    background-image: url(fundo.png);
    width: 100%;
    height: 2500px;
}

h1{
  text-align: center;
  padding-top: 40px;
  color: rgb(29,65,130);
}

.container{
  display: flex;
  width: 1100px;
  margin: 0 auto;
  position: absolute;
  left: 70px;
}

.card{
  width: 250px;
  height: 350px;
  background-color: white;
  border-radius: 30px;
  margin-top: 30px;
  margin-left: 30px;
}

#card1{
  background-color: rgb(255,236,137);
}
#card2{
  background-color: rgb(161,229,194);
}
#card3{
  background-color: rgb(255,216,161);
}
#card4{
  background-color: rgb(253,243,172);
}